h2 {
    font-weight: 400;
}

.page {
    font-family: 'Open Sans', sans-serif;
    width: 1240px;
    margin: 0 auto;
}

.battle {
    clear: both;
    border-top: 1px solid #E8E8E8;
}

.battle__item {
    width: 50%;
    height: 400px;
    float: left;
}

.battle__field {
    margin: 50px auto 0 auto;
    width: 320px;
    min-height: 335px;
    clear: both;
    position: relative;
}

.battle__field-cell {
    height: 2em;
    width: 2em;
    border: 1px solid #D8D8D8;
    float: left;
    margin: -1px -1px 0 0;
    position: relative;
    box-sizing: border-box;
}

.battle__field-cell.ship {
    background: rgba(31, 123, 200, 0.12);
}

.battle__field-cell.missed {
    background: rgba(210, 210, 210, 0.28);
}

.battle__field-cell.wounded {
    background: url(../images/wounded.png) center center no-repeat #e74c3c;
    border-color: #E74C3C;
}

.battle__marker {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.battle__marker li {
    font-size: 11px;
    float: left;
    text-align: center;
    width: 31px;
    height: 22px;
}

.battle__marker-row {
    position: absolute;
    left: -32px;
    top: 23px;
}

.battle__marker-row li {
    float: none;
    height: 31px;
    line-height: 28px;
}

.battle__title {
    margin: 20px 0;
    font-size: 13px;
    text-align: center;
}

.battle__ship {
    position: absolute;
    z-index: 10;
    border: 2px solid #1F7BC8;
    height: 2em;
    width: 2em;
    left: -1px;
    top: -1px;
    box-sizing: border-box;
}

.battle__ship.killed {
    border-color: #BA2F21;
}

.battle__link-label {
    color: #4C4949;
    font-size: 14px;
}

.battle__link-input {
    width: 79%;
    font-size: 14px;
    border: 1px solid #808080;
    padding: 6px;
    margin-bottom: 20px;
    margin-top: 9px;
}

.battle__controls.active {
    position: absolute;
    height: 100%;
    width: 110%;
    z-index: 50;
    margin-left: -25px;
    padding: 26px 0 0 56px;
    box-sizing: border-box;
    display: block;
}

.battle__controls {
    display: none;
}

.battle__play-btn {
    display: inline-block;
    background: #0034AB;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 200ms;
}

.battle__play-btn:hover {
    background: #466BC0;
}

.battle__rival-variants {
    margin-bottom: 20px;
}

.battle__field.active .battle_disabled {
    display: none;
}

.battle_disabled {
    position: absolute;
    height: 100%;
    width: 110%;
    z-index: 40;
    background: rgba(255, 255, 255, 0.70);
    margin-left: -25px;
    box-sizing: border-box;
    display: block;
}

.battle__rival-variant {
    color: #0034AB;
    font-size: 13px;
    display: inline-block;
    padding: 5px 8px;
    margin-right: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.battle__rival-variant:hover {
    text-decoration: none;
}

.battle__rival-variant.active {
    text-decoration: none;
    background: #D2D2D2;
    border-radius: 3px;
    color: #494949;
}

.battle__play-with-friend {
    display: none;
}

.battle__play-with-friend.active {
    display: block;
}

.battle h3 {
    font-weight: 300;
    font-size: 20px;
}
/* TOOLS */

.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}

.clearfix { 
  display: inline-block;
}

* html .clearfix {  
  height: 1%;  
}

.clearfix {  
  display: block;  
}















